body {

    margin: 0px;

}

#main-div {

    text-align: center;

}

#description-div {

    height: 50px;

}

button {

    margin: 5px;

}

#playground-div {

    width: 900px;
    height: 700px;
    border: 1px solid black;
    margin: 10px auto auto auto;
    background-color: #ededed;

}

#instructions-div {

    font-size: 15px;
    margin-bottom: 20px;
    background-color: lightblue;
    width: 900px;
    margin: auto auto 20px auto;
    padding-bottom: 7px;

}

#first-instructions-div {

    margin-bottom: 7px;

}